:root {
	--text: #111827;
	--muted: #6b7280;
	--border: #d1d5db;
	--background: #f9fafb;
	--card: #ffffff;
	--outline: #9ca3af;
	color-scheme: light;
}

@media (prefers-color-scheme: dark) {
	:root {
		--text: #f3f4f6;
		--muted: #9ca3af;
		--border: #374151;
		--background: #111827;
		--card: #1f2937;
		--outline: #60a5fa;
		color-scheme: dark;

		& .ss {
			filter: invert(1);
		}
	}
}

* {
	border-color: var(--border);
	border-style: solid;
	border-width: 0;
	outline-offset: 4px !important;
	outline-color: var(--outline);
}

html {
	scrollbar-gutter: stable;
}

body {
	margin: 1rem auto;
	padding: 0.5rem;
	max-width: 80ch;
	background-color: var(--background);
	color: var(--text);
}

h1 {
	margin: 0;
}

.intro {
	margin: 0.5rem 0;
	font-size: 0.875rem;
}

input[type="search"] {
	width: 100%;
	padding: 0.5rem;
	font-size: 1rem;
	display: block;
	margin: 1rem 0;
	border-radius: 0;
	border-width: 1px;
	background-color: var(--card);
}

input[type="search"]:focus {
	outline-width: 1px;
}

.results {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(25ch, 1fr));
	gap: 0.5rem;
}

.loading {
	opacity: 0.5;
}

.no-results {
	& > p {
		margin: 0;
	}

	& > :last-child {
		color: var(--muted);
		font-size: 0.75rem;
	}
}

.word {
	border-width: 1px;
	padding: 0.5rem;
	color: inherit;
	text-decoration: none;
	background-color: var(--card);

	& > h2 {
		margin: 0;
		font-size: 1rem;
	}

	& > .meta {
		color: var(--muted);
		font-size: 0.75rem;
	}

	& > p {
		margin: 0;
		font-size: 0.875rem;
	}
}

.word-info {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(30ch, 1fr));
	gap: 0.5rem;

	& > * {
		margin: 0;
		border-width: 1px;
		padding: 0.5rem;
		background-color: var(--card);
	}

	& dl {
		margin: 0;
	}

	& dt {
		font-weight: 600;
		font-size: 0.875rem;
	}

	& dd {
		margin-left: 1rem;
		font-size: 0.875rem;
	}

	& dd + dt {
		margin-top: 0.25rem;
	}

	& button {
		border-width: 1px;
		padding: 0 0.5rem;
		cursor: pointer;
	}

	& video {
		width: 12rem;
		max-width: 100%;
		border-width: 1px;
	}
}

small {
	font-size: 0.75rem;
	color: var(--muted);
}

.pre-wrap {
	white-space: pre-wrap;
}

@font-face {
	font-family: "pona";
	src: url("https://cdn.jsdelivr.net/gh/kreativekorp/sitelen-seli-kiwen/sitelenselikiwenmonoasuki.ttf")
		format("truetype");
}

@font-face {
	font-family: "pona-ucsur";
	src: url("https://cdn.jsdelivr.net/gh/kreativekorp/sitelen-seli-kiwen/sitelenselikiwenmonojuniko.ttf")
		format("truetype");
}

.pona {
	font-family: "pona", system-ui;
}

.ucsur {
	font-family: "pona-ucsur", system-ui;
}

.ss {
	width: 2rem;
}

.big.big {
	font-size: 2rem;
}
