body {
	margin: 1rem auto;
	padding: 0.5rem;
	max-width: 80ch;
}

h1 {
	margin: 0;
}

.intro {
	margin: 0.5rem 0;
	font-size: 0.875rem;
}

input[type="search"] {
	width: 100%;
	padding: 0.5rem;
	font-size: 1rem;
	display: block;
	margin: 1rem 0;
	border-radius: 0;
	border: 1px solid gray;
}

.results {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(25ch, 1fr));
	gap: 0.5rem;
}

.loading {
	opacity: 0.5;
}

.no-results {
	& > p {
		margin: 0;
	}

	& > :last-child {
		color: gray;
		font-size: 0.75rem;
	}
}

.word {
	border: 1px solid gray;
	padding: 0.5rem;
	color: inherit;
	text-decoration: none;

	& > h2 {
		margin: 0;
		font-size: 1rem;
	}

	& > .meta {
		color: gray;
		font-size: 0.75rem;
	}

	& > p {
		margin: 0;
		font-size: 0.875rem;
	}
}

.word-info {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(30ch, 1fr));
	gap: 0.5rem;

	& > * {
		margin: 0;
		border: 1px solid gray;
		padding: 0.5rem;
	}

	& dl {
		margin: 0;
	}

	& dt {
		font-weight: 600;
		font-size: 0.875rem;
	}

	& dd {
		margin-left: 1rem;
		font-size: 0.875rem;
	}

	& dd + dt {
		margin-top: 0.25rem;
	}
}

small {
	font-size: 0.75rem;
	color: gray;
}

.pre-wrap {
	white-space: pre-wrap;
}

@font-face {
	font-family: "pona";
	src: url("https://cdn.jsdelivr.net/gh/kreativekorp/sitelen-seli-kiwen/sitelenselikiwenmonoasuki.ttf")
		format("truetype");
}

@font-face {
	font-family: "pona-ucsur";
	src: url("https://cdn.jsdelivr.net/gh/kreativekorp/sitelen-seli-kiwen/sitelenselikiwenmonojuniko.ttf")
		format("truetype");
}

.pona {
	font-family: "pona", system-ui;
}

.ucsur {
	font-family: "pona-ucsur", system-ui;
}

.ss {
	width: 2rem;
}

.big.big {
	font-size: 2rem;
}
