{{ define "index" }}
	<!doctype html>
	<html lang="en">
		<head>
			<meta charset="UTF-8" />
			<meta
				name="viewport"
				content="width=device-width, initial-scale=1.0"
			/>
			<title>lipu nimi lili</title>
			<link rel="stylesheet" href="/static/reset.css" />
			<link rel="stylesheet" href="/static/style.css" />
			<script>
				let lastSearch = "";
			</script>
			<script src="https://unpkg.com/htmx.org@2.0.4"></script>
		</head>

		<body>
			<h1>Toki Pona Dictionary</h1>
			<p class="intro">
				Search in English or Toki Pona. Click on a word to view more.
				Source code is on
				<a
					href="https://github.com/cubedhuang/lipu-lili"
					target="_blank"
					rel="noopener noreferrer"
					>GitHub</a
				>.
			</p>
			<form
				action="/"
				hx-post="/"
				hx-trigger="submit changed"
				hx-target="#results"
			>
				<input
					type="search"
					value="{{ .Query }}"
					autocomplete="off"
					id="input"
					name="q"
					placeholder="o alasa..."
					hx-post="/"
					hx-trigger="input changed delay:150ms, load delay:50ms"
					hx-target="#results"
					oninput="if (this.value !== lastSearch) { lastSearch = this.value; document.getElementById('results').classList.add('loading') }"
					onsearch="if (this.value !== lastSearch) { lastSearch = this.value; document.getElementById('results').classList.add('loading') }"
					hx-on::after-request="document.getElementById('results').classList.remove('loading')"
				/>
			</form>

			<div id="results">
				{{ template "results" .Results }}
			</div>
		</body>
	</html>
{{ end }}
