{{ define "index" }}
	<!doctype html>
	<html lang="en">
		<head>
			<meta charset="UTF-8" />
			<meta
				name="viewport"
				content="width=device-width, initial-scale=1.0"
			/>

			{{ $title := "Toki Pona Dictionary – lipu nimi lili" }}
			{{ $description := "Comprehensive and lightweight Toki Pona dictionary." }}
			{{ $image := "https://raw.githubusercontent.com/lipu-linku/ijo/main/sitelenpona/sitelen-seli-kiwen/sona.png" }}
			{{ $url := "https://lili.nimi.li/" }}
			<title>{{ $title }}</title>
			<meta property="og:title" content="{{ $title }}" />
			<meta property="og:site_name" content="{{ $title }}" />
			<meta name="twitter:title" content="{{ $title }}" />
			<meta property="og:description" content="{{ $description }}" />
			<meta name="description" content="{{ $description }}" />
			<meta name="twitter:description" content="{{ $description }}" />
			<meta property="og:url" content="{{ $url }}" />
			<link rel="canonical" href="{{ $url }}" />
			<meta property="og:image" content="{{ $image }}" />
			<meta property="og:image:width" content="256" />
			<meta property="og:image:height" content="256" />
			<meta name="twitter:image" content="{{ $image }}" />
			<meta property="og:type" content="website" />
			<meta name="twitter:card" content="summary" />
			<meta name="twitter:site" content="@cubedhuang" />
			<link rel="icon" type="image/png" href="{{ $image }}" />
			<meta
				name="keywords"
				content="toki pona, dictionary, toki pona dictionary, toki pona words, toki pona definitions, toki pona vocabulary, toki pona language, toki pona lessons, toki pona course, toki pona grammar, toki pona phrases, toki pona sentences, toki pona resources, toki pona tools, toki pona website, toki pona wiki"
			/>

			<meta name="color-scheme" content="light dark" />
			<link rel="stylesheet" href="/static/reset.css" />
			<link rel="stylesheet" href="/static/style.css" />
			<script>
				let lastSearch = "";
			</script>
			<script src="https://unpkg.com/htmx.org@2.0.4"></script>
		</head>

		<body>
			<h1>Toki Pona Dictionary</h1>
			<p class="intro">
				Search in English or Toki Pona. Click on a word to view more.
				Source code is on
				<a
					href="https://github.com/cubedhuang/lipu-lili"
					target="_blank"
					rel="noopener noreferrer"
					>GitHub</a
				>.
			</p>
			<form
				action="/"
				hx-post="/"
				hx-trigger="submit changed"
				hx-target="#results"
			>
				<input
					type="search"
					value="{{ .Query }}"
					autocomplete="off"
					id="input"
					name="q"
					placeholder="o alasa..."
					hx-post="/"
					hx-trigger="input changed delay:150ms, load delay:50ms"
					hx-target="#results"
					oninput="if (this.value !== lastSearch) { lastSearch = this.value; document.getElementById('results').classList.add('loading') }"
					onsearch="if (this.value !== lastSearch) { lastSearch = this.value; document.getElementById('results').classList.add('loading') }"
					hx-on::after-request="document.getElementById('results').classList.remove('loading')"
				/>
			</form>

			<div id="results">
				{{ template "results" .Results }}
			</div>
		</body>
	</html>
{{ end }}
